.flex{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.icon{
    width: 30px;
    /* padding: 7px; */
    /* margin: 0px; */
    justify-content: space-between;
margin-right: 40px;

}
.black{
    margin: 0%;
    /* background-color: rgba(0, 0, 0, 0.651); */
}

